@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Color */
:root {
  --primary-color: #1194ff;
  --secondary-color: #1151ff;
  --dark-color: #333;
  --light-color: #ffffffc2;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}


/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.bg-primary{
  background-color: var(--primary-color);
  color: #fff;
}

.bg-light {
  background-color: var(--light-color);
  color: #333;
}

.bg-dark {
  background-color: var(--dark-color) ;
  color: #fff;
}

.text-primary{
  color: var(--primary-color);
}

.text-center {
  text-align: center;
}

.l-heading {
  font-size: 4rem;
  padding: 0.6rem;
  line-height: 1.1rem;
}

.m-heading {
  font-size: 2rem;
  padding: 0.6rem;
  line-height: 1.1rem;
}

/* Padding */
.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }


.btn {
  display: inline-block;
  background: var(--primary-color);
  border: none;
  padding: 0.6rem 2rem;
  color: #fff;
}

.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

/* List */
.list{
  list-style: none;
  margin: 0.5rem 0;
}

.list li {
  border-bottom: #444 1px dotted;
  margin: 0.5rem 0;
}

/*Card*/
.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}


/* Navbar */
#navbar {
  display: flex;
  background: #333;
  color: #fff;
  padding: 1rem;
  z-index: 1;
  justify-content: space-between;
  cursor: pointer;
  position: sticky;
  top: 0;
}

#navbar ul {
  display: flex;
  list-style: none;
  text-align: center;
}

#navbar ul li a {
  color: #fff;
  padding: 0.8rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover{
  background-color: var(--primary-color);
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: #444 url(../img/showcase.jpg)no-repeat center center/cover;
  color: #fff;
  height: 100vh;
}

#showcase .showcase-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#showcase .showcase-content h1{
  font-size: 4rem;
  line-height: 1.1;
  padding-bottom: 0.75rem;
}

#showcase .showcase-content p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

/* Section About Us */
#about .items {
  display: flex;
  padding: 1rem;
}

#about .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}
#about .items .item i {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

/* Section: What We Do */
#who {
  display: flex;
}

#who div {
  flex: 1;
}


#who .who-img {
  background: #444 url('../img/about.jpg')no-repeat center center/cover;
}


/* Section: clients */
#clients .m-heading {
  text-align: center;
}

#clients .items{
  display: flex;
  padding-top: 1rem;
}

#clients .items div {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

/* Section: Contact */
#contacts {
  display: flex;
}

#contacts .contact-form, #contacts .map {
  flex: 1;
} 

#contacts .form-group{
  margin: 0.75rem;
}

#contacts .form-group label {
  display: block;
}

#contacts .form-group input,
#contacts .form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: #eee solid 1px;
}

#contacts .form-group input:focus,
#contacts .form-group textarea:focus {
  outline: none;
}