@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Color */
:root {
  --primary-color: #1194ff;
  --secondary-color: #1151ff;
  --dark-color: #1121ff;
  --light-color: #ffffffc2;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Utilities */
.bg-primary{
  background-color: var(--primary-color);
}
.text-primary{
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

#navbar {
  display: flex;
  background: #333;
  color: #fff;
  padding: 1rem;
  z-index: 1;
  justify-content: space-between;
}

#navbar ul {
  display: flex;
  list-style: none;
  text-align: center;
}

#navbar ul li a {
  color: #fff;
  padding: 0.8rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover{
  background-color: var(--primary-color);
  border-radius: 5px;
}